.intro {
  width: 75%;
  margin: 126px 0 120px 0;
  padding: 0;
  box-sizing: border-box;
}

@media (max-width: 1024px) {
  .intro {
    width: 100%;
    margin: 64px 0;
    padding: 0 48px;
  }
}

@media (max-width: 768px) {
  .intro {
    padding: 0 16px;
  }
}
.intro__title h2 {
  font-family: "Inter", Arial, sans-serif;
  font-weight: 900;
  font-size: 56px;
  line-height: 1.2;
  margin: 0 0 32px;
  text-align: left;
  color: #ffffff;
}

@media (max-width: 320px) {
  .intro__title h2 {
    font-size: 2rem;
  }
}
.intro__quote_text {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 16px;
  text-align: left;
  font-style: italic;
  color: #ffffff;
}

.intro__quote_person {
  text-align: right;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.4;
  color: #ffffff;
}

.intro__resume p {
  font-size: 16px;
  line-height: 1.7;
  margin-top: 48px;
  text-align: left;
  color: #ffffff;
}
