.intro {
  max-width: 830px;
  margin: 126px 0 120px 148px;
  padding-right: 16px;
}

.intro__title h2 {
  font-family: "Inter Display", Arial, sans-serif;
  font-weight: 900;
  font-size: 56px;
  line-height: 1.2;
  margin: 0 0 32px;
  text-align: left;
}

.intro__quote_text {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 16px;
  text-align: left;
}

.intro__quote_person {
  text-align: right;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.4;
  color: #ffffff;
}

.intro__resume p {
  font-size: 16px;
  line-height: 1.7;
  margin-top: 48px;
  text-align: left;
  color: #ffffff;
}

@media (max-width: 1024px) {
  .intro {
    margin: 4rem 1rem 0;
    max-width: 100%;
  }

  .intro__title h2 {
    font-size: 2rem;
  }
}

@media (max-width: 544px) {
  .intro__title h2 {
    font-size: 1.5rem;
  }

  .intro__quote_text,
  .intro__quote_person,
  .intro_resume p {
    font-size: 0.875rem;
  }

  .intro {
    margin: 4rem 1rem 0;
    max-width: 100%;
  }
}
